<!--GENERAL DOCUMENT INFORMATION TO INCLUDE DOCUMENT TYPE, AND STYLES SHEET, FAVICON IS CURRENTLY NOT APPLUING IDK WHY-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Network Engine</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="https://kit.fontawesome.com/a0bcbd31cc.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<!--BODY OF THE HTML BEGINS HERE-->

<body>

    <!--SIDE NAV BAR HERE, USING DIV IS IMPORTANT BECASUE THE PAGE IS LATERAL ORGANIZED NOT HORIZONTAL, ADDITIONAL INDEXES ARE ADDED AND ICONS ARE USED OFFSITE-->

    <div class="wrapper">
        <div class="sidebar">
            <h2>Network Engine</h2>
            <ul>
              <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
              <li><a href="{{ url_for('profile') }}"><i class="fa-solid fa-address-card"></i>Profile</a></li>
              <li><a href="{{ url_for('inventory') }}"><i class="fa-solid fa-cube"></i>Inventory</a></li>
              <li><a href="{{ url_for('management') }}"><i class="fa-solid fa-cubes"></i>Management</a></li>
              <li><a href="{{ url_for('show_cli') }}"><i class="fa-solid fa-code"></i>Show CLI</a></li>
              <li><a href="{{ url_for('config') }}"><i class="fa-solid fa-screwdriver-wrench"></i>Config CLI</a></li>
              <li><a href="{{ url_for('create_backup') }}"><i class="fa-solid fa-code-pull-request"></i>Backups</a></li>
              <!--<li><a href="{{ url_for('export_backup') }}"><i class="fa-solid fa-code-compare"></i>Export Backup</a></li>-->
              <!--<li><a href="{{ url_for('delete_backup') }}"><i class="fa-solid fa-trash"></i>Delete Backup</a></li>-->
              <li><a href="#"><i class="fa-solid fa-map-location-dot"></i>Map</a></li>
              <li><a href="{{ url_for('contact_us') }}"><i class="fa-solid fa-phone-flip"></i>Contact Us</a></li>
            </ul>
            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://stackoverflow.com" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
                <a href="https://github.com/ADPOLLEY/Network-Engine" target="_blank"><i
                        class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="main_content">

            <div class="header">profile</div>
   </head>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Network Engine ParkWay</div>
          <div class="text-two">Cupertino, CA 95014</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">(877) 412–7753</div>
          <div class="text-two">(877) 418–2573</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">networkengine@gmail.com</div>
          <div class="text-two">info.engine@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send Us a Message</div>
        <p>Use the form below to send us your comments or report any problems you experienced finding information on our website. We read all feedback carefully, but please note that we cannot respond to the comments you submit.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
            <input type="text" placeholder="Enter your message">
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
</html>



           

