<!--GENERAL DOCUMENT INFORMATION TO INCLUDE DOCUMENT TYPE, AND STYLES SHEET, FAVICON IS CURRENTLY NOT APPLUING IDK WHY-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>Network Engine</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="https://kit.fontawesome.com/a0bcbd31cc.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    

</head>

<!--BODY OF THE HTML BEGINS HERE-->

<body>

    <!--SIDE NAV BAR HERE, USING DIV IS IMPORTANT BECASUE THE PAGE IS LATERAL ORGANIZED NOT HORIZONTAL, ADDITIONAL INDEXES ARE ADDED AND ICONS ARE USED OFFSITE-->

    <div class="wrapper">
        <div class="sidebar">
            <h2>Network Engine</h2>
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="{{ url_for('profile') }}"><i class="fa-solid fa-address-card"></i>Profile</a></li>
                <li><a href="{{ url_for('inventory') }}"><i class="fa-solid fa-cube"></i>Inventory</a></li>
                <!--<li><a href="{{ url_for('management') }}"><i class="fa-solid fa-cubes"></i>Management</a></li>-->
                <li><a href="{{ url_for('show_cli') }}"><i class="fa-solid fa-code"></i>Show CLI</a></li>
                <li><a href="{{ url_for('config') }}"><i class="fa-solid fa-screwdriver-wrench"></i>Config CLI</a></li>
                <li><a href="{{ url_for('config_backup') }}"><i class="fa-solid fa-code-pull-request"></i>Config Backup</a></li>
                <!--<li><a href="{{ url_for('export_backup') }}"><i class="fa-solid fa-code-compare"></i>Export Backup</a></li>-->
                <!--<li><a href="{{ url_for('delete_backup') }}"><i class="fa-solid fa-trash"></i>Delete Backup</a></li>-->                
                <li><a href="#"><i class="fa-solid fa-map-location-dot"></i>Map</a></li>
                <li><a href="{{ url_for('contact_us') }}"><i class="fa-solid fa-phone-flip"></i>Contact Us</a></li>
            </ul>
            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://stackoverflow.com" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
                <a href="https://github.com/ADPOLLEY/Network-Engine" target="_blank"><i
                        class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="main_content">

            <div class="header">Export Backup</div>

           
        </div>
    </body>
</html>