<!--GENERAL DOCUMENT INFORMATION TO INCLUDE DOCUMENT TYPE, AND STYLES SHEET, FAVICON IS CURRENTLY NOT APPLUING IDK WHY-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Network Engine</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script src="https://kit.fontawesome.com/a0bcbd31cc.js" crossorigin="anonymous"></script>
    

    <!--THIS DECLARES THE VARIBLE IN THE TABLE, WILL HAVE TO IMPORTFLASK AND P[OSSIBLY DELTE THIS PORTION]-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // A LOOP FOR THE FILTER FOR INVENTORY PAGE, JAVASCRIPTED IS USED AND NEED TO FIGURE OUT HOW TO IMPORT FLASK AND OTHERS INTO HTML

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    

</head>

<!--BODY OF THE HTML BEGINS HERE-->

<body>

    <!--SIDE NAV BAR HERE, USING DIV IS IMPORTANT BECASUE THE PAGE IS LATERAL ORGANIZED NOT HORIZONTAL, ADDITIONAL INDEXES ARE ADDED AND ICONS ARE USED OFFSITE-->

    <div class="wrapper">
        <div class="sidebar">
            <h2>Network Engine</h2>
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="{{ url_for('profile') }}"><i class="fa-solid fa-address-card"></i>Profile</a></li>
                <li><a href="{{ url_for('inventory') }}"><i class="fa-solid fa-cube"></i>Inventory</a></li>
                <li><a href="{{ url_for('management') }}"><i class="fa-solid fa-cubes"></i>Management</a></li>
                <li><a href="#"><i class="fa-solid fa-code"></i>Show CLI</a></li>
                <li><a href="#"><i class="fa-solid fa-screwdriver-wrench"></i>Config CLI</a></li>
                <li><a href="{{ url_for('create_backup') }}"><i class="fa-solid fa-code-pull-request"></i>Create Backup</a></li>
                <li><a href="#"><i class="fa-solid fa-code-compare"></i>Export Backup</a></li>
                <li><a href="#"><i class="fa-solid fa-trash"></i>Delete Backup</a></li>
                <li><a href="#"><i class="fa-solid fa-map-location-dot"></i>Map</a></li>
                <li><a href="{{ url_for('contact_us') }}"><i class="fa-solid fa-phone-flip"></i>Contact Us</a></li>
            </ul>

            <!--FACEBOOK, GITHUB, AND STACKOVERFLOW ARE INCLUIDED HERE, CAN CHANGE THESE TO ANYTHING ELSE IF NEEDED-->

            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://stackoverflow.com" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
                <a href="https://github.com/ADPOLLEY/Network-Engine" target="_blank"><i
                        class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="main_content">
            <div class="header">inventory</div>
            <div class="info" id="info">

                <!--TABLE FOR IP ADDRESSES BEGIN HERE, THIS WILL NEED TO BE DELTED ONCE FLASK IS IMPORTED, NEED TO FIGURE OUT HOW TO DO THAT-->
                
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by IP Address...">
                
                
                <form hx-post="/submit" hx-swap="beforeend" hx-target="#new-device" class="mb-3">
                    <input type="text" placeholder="Device Hostname" name="hostname" class="form-control mb-3" />
                    <input type="text" placeholder="Device Subnet" name="subnet" class="form-control mb-3" />
                    <input type="text" placeholder="Device Username" name="username" class="form-control mb-3" />
                    <input type="text" placeholder="Device Password" name="password" class="form-control mb-3" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Device Hostname</th>
                        <th scope="col">Device Subnet</th>
                        <th scope="col">Device Username</th>
                        <th scope="col">Device Password</th>
                      </tr>
                    </thead>
                    <tbody id="new-device" hx-target="closest tr" hx-swap="outerHTML swap:0.5s"> 
                        {%for device in Device%}
                        <tr>
                            <td>{{device.Device.hostname_id}}</td>
                            <td>{{device.Device.subnet}}</td>
                            <td>{{device.Device.username}}</td>
                            <td>{{device.Device.password}}</td>
                            <td>
                                <button class="btn btn-primary" 
                                    hx-get="/get-edit-form/{{device.Device.hostname_id}}">
                                    Edit Hostname
                                </button>
                            </td>
                            <td>
                                <button hx-delete="/delete/{{device.Device.hostname_id}}" class="btn btn-primary">Delete</button>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </body>

                <table id="myTable">
                    <tr class="header">
                        <th style="width:25%;">IP Address</th>
                        <th style="width:25%;">Subnet</th>
                        <th style="width:25%;">Username</th>
                        <th style="width:25%;">Password</th>
                    </tr>
                    <tr>
                        <td>192.168.51.25</td>
                        <td>255.255.255.0</td>
                        <td>@dmin</td>
                        <td>***********</td>
                    </tr>
                    <tr>
                        <td>192.168.51.10</td>
                        <td>255.255.255.0</td>
                        <td>@dmin</td>
                        <td>***********</td>
                    </tr>
                    <tr>
                        <td>192.168.51.0</td>
                        <td>255.255.255.0</td>
                        <td>@dmin</td>
                        <td>***********</td>
                    </tr>
                    <tr>
                        <td>192.168.51.1</td>
                        <td>255.255.255.0</td>
                        <td>@dmin</td>
                        <td>***********</td>
                    </tr>
                </table>
               

            </div>
            <!--<a href="javascript:demoFromHTML()" class="button">Run Code</a>/-->
        </div>
    </div>
</body>


</html>