<!--GENERAL DOCUMENT INFORMATION TO INCLUDE DOCUMENT TYPE, AND STYLES SHEET, FAVICON IS CURRENTLY NOT APPLUING IDK WHY-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Network Engine</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="https://kit.fontawesome.com/a0bcbd31cc.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<!--BODY OF THE HTML BEGINS HERE-->

<body>

    <!--SIDE NAV BAR HERE, USING DIV IS IMPORTANT BECASUE THE PAGE IS LATERAL ORGANIZED NOT HORIZONTAL, ADDITIONAL INDEXES ARE ADDED AND ICONS ARE USED OFFSITE-->

    <div class="wrapper">
        <div class="sidebar">
            <h2>Network Engine</h2>
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="{{ url_for('profile') }}"><i class="fa-solid fa-address-card"></i>Profile</a></li>
                <li><a href="{{ url_for('inventory') }}"><i class="fa-solid fa-cube"></i>Inventory</a></li>
                <li><a href="{{ url_for('management') }}"><i class="fa-solid fa-cubes"></i>Management</a></li>
                <li><a href="{{ url_for('show_cli') }}"><i class="fa-solid fa-code"></i>Show CLI</a></li>
                <li><a href="{{ url_for('config') }}"><i class="fa-solid fa-screwdriver-wrench"></i>Config CLI</a></li>
                <li><a href="{{ url_for('create_backup') }}"><i class="fa-solid fa-code-pull-request"></i>Backups</a></li>
                <!--<li><a href="{{ url_for('export_backup') }}"><i class="fa-solid fa-code-compare"></i>Export Backup</a></li>-->
                <!--<li><a href="{{ url_for('delete_backup') }}"><i class="fa-solid fa-trash"></i>Delete Backup</a></li>-->
                <li><a href="#"><i class="fa-solid fa-map-location-dot"></i>Map</a></li>
                <li><a href="{{ url_for('contact_us') }}"><i class="fa-solid fa-phone-flip"></i>Contact Us</a></li>
            </ul>
            <div class="social_media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://stackoverflow.com" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
                <a href="https://github.com/ADPOLLEY/Network-Engine" target="_blank"><i
                        class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="main_content">

            <div class="header">dashbaord</div>

            <!--MAP BLOCK IS ADDED HERE FROM AN EMBEDDED MAP FROM GOOGLE MAPS. MAPS API REQUIRED MONEY, NOT SURE HOW WE ARE GOING TO IMPORT THE LOCATIONS OF THE DEVICES-->

            <div class="info">
                <div style="display: block; margin-left: auto; margin-right: auto; width: 50%;"><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25221.945709382497!2d-122.44240698812094!3d37.79605877584967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808586d510144681%3A0xe960db8a581aacf5!2sThe%20Palace%20Of%20Fine%20Arts!5e0!3m2!1sen!2sus!4v1650298418878!5m2!1sen!2sus"
                        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <!--WEATHER BLOCK IS ADDED HERE, WILL NEED TO DELETE ONCE WE FIGURE OUT HOW TO IMPORT IT INTO AND FROM THE DEVICES-->

                <div>
                    <script>
                        (function (d, s, id) {
                            if (d.getElementById(id)) {
                                if (window.__TOMORROW__) {
                                    window.__TOMORROW__.renderWidget();
                                }
                                return;
                            }
                            const fjs = d.getElementsByTagName(s)[0];
                            const js = d.createElement(s);
                            js.id = id;
                            js.src = "https://www.tomorrow.io/v1/widget/sdk/sdk.bundle.min.js";

                            fjs.parentNode.insertBefore(js, fjs);
                        })(document, 'script', 'tomorrow-sdk');
                    </script>

                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

                    <div class="tomorrow" data-location-id="125809" data-language="EN" data-unit-system="IMPERIAL"
                        data-skin="light" data-widget-type="summary" style="padding-bottom:22px;position:relative;">
                        <a href="https://www.tomorrow.io/weather/" rel="nofollow noopener noreferrer" target="_blank"
                            style="position: absolute; bottom: 0; transform: translateX(-50%); left: 50%;">
                            <img alt="Powered by Tomorrow.io"
                                src="https://weather-website-client.tomorrow.io/img/powered-by-tomorrow.svg" width="140"
                                height="15" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
</body>


</html>